[DEFAULT]
# Show more verbose log output (sets INFO log level output)
verbose = True
host = "pepe"
#

debug = True
# Log to this file
log_file = /tmp/healing.log

# Log levels for specific modules
default_log_levels = healing=DEBUG,healing.api=DEBUG,wsme=DEBUG,amqplib=DEBUG


# Rabbit config for oslo.messaging
rabbit_host = localhost
rabbit_port = 5672
rabbit_virtual_host = /
rabbit_user = guest
rabbit_password = intel123

#log_config_append = etc/logging.conf
# Options for oslo.messaging
rpc_backend=rabbit


[api]
host = 0.0.0.0
port = 9999
unauthorized_urls = /v1/handlers/,
alarm_handler_url = http://localhost:9999/v1/sla/alarming
use_cherrypy=False

[pecan]
auth_enable = False
debug = True

[database]
#A valid SQLAlchemy connection string
#connection = mysql://root:intel123@localhost:3306/healing
connection = sqlite:///healing.sqlite

[keystone]
auth_uri=http://localhost:5000/v3/
auth_host=localhost
auth_port=5000
admin_user=admin
admin_password=intel123
auth_protocol=http
admin_tenant_name=admin
#algunas urls no necesitan pass
delay_auth_decision=true

[plugins]
plugin_config_file=plugins_config.yaml

[action_executor]
manager = healing.actionexecutor.manager.ActionManager
topic = 'action_topic'
notification_topic = 'info'
workers = 2
periodic_enable = False
task_period = 60


[action_tracker]
manager = healing.tracker.manager.TrackerManager
topic = 'tracker_topic'
workers = 2
periodic_enable = False
task_period = 60